
.vs/BambooProduction/FileContentIndex/d2745fe2-30e3-433d-8af6-1711808a28cf.vsidx
.vs/BambooProduction/FileContentIndex/eb484753-95dd-495b-adc6-c43564bcf841.vsidx
.vs/BambooProduction/FileContentIndex/f7235842-06fc-4878-9a6a-fb4d2d1f45d0.vsidx
BambooProduction/bin/Debug/net8.0/BambooProduction.dll
BambooProduction/bin/Debug/net8.0/BambooProduction.exe
BambooProduction/bin/Debug/net8.0/BambooProduction.pdb
BambooProduction/obj/Debug/net8.0/BambooProduction.AssemblyInfo.cs
