@page "/Analysis"
@using BambooProduction.Service
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@inject AuthService AuthService
@inject IHttpClientFactory Http
@attribute [Authorize(Roles = "Admin, Employee")]

<h3>Analysis</h3>

@code {

}
