@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    You are logged in with this account
    <br />
    @context.User.Identity?.Name!
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <br />
    which has the admin access
</AuthorizeView>

<AuthorizeView Roles="Employee">
    <br />
    which has the employee access
</AuthorizeView>