@page "/Create-economy-employee"
@using BambooProduction.Service
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer
@inject AuthService AuthService
@inject IHttpClientFactory Http
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Admin, Employee")]

<h3>CreateEconomyEmployee</h3>

@code {

}
