@page "/"
@using Shared.Dto
@inject IHttpClientFactory Http

<PageTitle>Home</PageTitle>

Show non sensitive metrics and kpi's here

<br />

<hr />

@if (employeesWithBirthday != null && employeesWithBirthday.Any())
{
    <br />
    <h2>Congratulations </h2>
    <br />
    <ul>
        @foreach (var employee in employeesWithBirthday)
        {
            <li>@employee.FullName turns @employee.Age today</li>
        }
    </ul>
}
else
{
    <p>No birthdays today</p>
}

@code {
    private List<BirthdayDto> employeesWithBirthday;

    private HttpClient EmployeeApiClient;

    protected override async Task OnInitializedAsync()
    {
        EmployeeApiClient = Http.CreateClient("EmployeeApi");
        await LoadBirthdaysToday();
    }

    private async Task LoadBirthdaysToday()
    {
        employeesWithBirthday = await EmployeeApiClient.GetFromJsonAsync<List<BirthdayDto>>("Employee/BirthdaysToday");
    }
}

